# Generated model and test-data headers
AI_Training_Model/P3_Quantize_Model/Output_Quantize/*.h linguist-generated=true
Deploy_Model/1_Test_Model_Static_Profiling/include/Asthma_Model.h linguist-generated=true
Deploy_Model/1_Test_Model_Static_Profiling/include/Sample_*.h linguist-generated=true
Deploy_Model/2_Test_Model_LiveMic/include/Model_AI/Asthma_Model_3.h linguist-generated=true
Deploy_Model/2_Test_Model_LiveMic/include/Raw_Include_Parity20/*.h linguist-generated=true
Deploy_Model/2_Test_Model_LiveMic/include/Tensor_Include_Validation108/*.h linguist-generated=true
Deploy_Model/2_Test_Model_LiveMic/include/Tensor_Include_Test113/*.h linguist-generated=true
Deploy_Model/3_Model_Complete/include/Model_AI/Asthma_Model.h linguist-generated=true

Final_Project_NCKH/AI_Model/Asthma_Model.h